#topPart {
	width: 100%;
	height: 80%;
	margin: 0;
	padding:0;
}

#bottomPart {
	width: 100%;
	height: 20%;
	margin: 0;
	padding: 0;
}

#pageContent .contentTitle {
	width: 94%;
	margin:auto;
	margin-bottom: 0;
	margin-top: 2%;
	background-color: black;
	border-radius: 15px;
}

#pageContent .contentTitle p{
	padding: 0;
	margin: 0px;
	text-align: center;
	color: white;
	font-size: 70px;
	margin-right: 10%;
	margin-left: 10%;
}

#pageContent .divider {
	height: 30%;
	width: 100%;
	margin-top: 3%;
}

#pageContent #leftSide {
	padding-left: 2%;
	width: 50%;
	height: 100%;
	float: left;
	margin: 0px;
}

#pageContent #rightSide {
	padding-right: 2%;
	width: 50%;
	height: 100%;
	float: right;
	margin: 0px;
}

#pageContent .contactInfoBox {
	margin: auto;
	height: 80%;
	width: 65%;
	background: white;
	border-radius: 15px;
	border-color: black;
	border-style: solid;
	overflow: hidden;
	margin-bottom: 5%;
}

#pageContent .contactInfoBox h2{
	text-align: center;
	margin-bottom: 3%;
}

#pageContent .contactInfoBox img{
	display: block;
	margin: auto;
	max-width: 80%;
}
 
 
#pageContent .contentInfoTwo{
	width: 60%;

	background-color: white;
	/*
	opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
	margin: auto;
	margin-top: 5%;
	border-radius: 15px;
	border-color: black;
	border-style: solid;
	overflow: visible;
}


#pageContent .contentInfoTwo p{
	padding: 10px;
	padding-top: 10px;
	text-align: justify;
	font-size: 20px;
	color: black;
}

/* profMenu a li*/

#professionalInfoMenu {
	width: 90%;
	list-style-type: none;
    margin: auto;
    padding: 0;
	height: 100%;
	/*position: fixed;*/
}

#professionalInfoMenu li {
	width: 16%;
	padding-top: 2%;
	margin: auto;
	display: inline-block;
	text-align: center;
	height: 60%;
	background-color: white;
	border-color: black;
	border-style: solid;
	border-radius: 15px;
}

#professionalInfoMenu a {
	width: 100%;
	height: 100%;
	font-size: 20px;
	margin: auto;
    color: black;
    text-decoration: none;
}

#professionalInfoMenu li:hover {
	border-color: white;
    color: black;
}